---
import { getEntry } from "astro:content";
import PrimaryLayout from "../layouts/PrimaryLayout.astro";

const homePageData = await getEntry("home", "homepage");
const { Content } = await homePageData.render();
const { title, description } = homePageData.data;
---

<PrimaryLayout title={title} description={description}>
	<main>
		<div class="filler"></div>
		<article>
			<Content />
		</article>
	</main>
</PrimaryLayout>

<style>
	main {
		container-type: inline-size;
		display: grid;
		grid-template-columns: minmax(0, 1fr) auto;
	}

	.filler {
		background: linear-gradient(90deg, var(--clr-block-bg) 10%, transparent 95%);
	}

	article {
		padding: 1rem;
		background-color: var(--clr-block-bg);
	}
</style>
