---
import PrimaryLayout from "../layouts/PrimaryLayout.astro";
const title = 'About';
---

<PrimaryLayout>
	<article>
		<h2>{ title }</h2>
		<p>
			Hello, I'm Nikolay Kolomyytsev, a web developer from Berlin. I have a passion for web development and love to create websites and web applications. I have experience in building websites using modern technologies like React, Next.js, and Astro.	
		</p>
		<p>
			When I'm not coding, I enjoy reading books, playing video games, and watching movies. I also love to travel and explore new places. I'm always looking for new opportunities to learn and grow as a developer.
		</p>
		<p>
			If you have a project you'd like to discuss or need help with your website, feel free to contact me. I'm always open to new challenges and would love to help you bring your ideas to life.
		<p>
			Thanks for visiting my website, and I hope to hear from you soon!
		</p>

	</article>
</PrimaryLayout>
