---
import ExtLinkSvg from "./ExtLinkSvg.astro";
---

<header>
    <div class="header__wrapper">
        <h1 class="name">
            <a href="/">
                <span class="name__first">Nikolay</span>
                <span class="name__last">Kolomyytsev</span>
                <span class="name__title">web-developer</span>
            </a>
        </h1>
        
        <nav>
            <ul>
                <li><a href="https://docs.google.com/document/d/1nvcHyyC7EgDRjdxzbxnbQUtI50-bjoz6oYXD4xOuCOo/prview" target="_blank"><span>CV <ExtLinkSvg size="28" /></span></a></li>
                <!-- <li><a href="https://docs.google.com/document/d/1nvcHyyC7EgDRjdxzbxnbQUtI50-bjoz6oYXD4xOuCOo/export?format=pdf" target="_blank"><span>CV download<ExtLinkSvg size="28" /></span></a></li> -->
                <li><a href="/portfolio/">Portfolio</a></li>
            </ul>
        </nav>
    </div>
</header>

<style>
    header {
        container-type: inline-size;
        container-name: header;
    }

    .header__wrapper {
        display: grid;

        @container header (width > 600px) {
            grid-template-columns: 1fr 1fr;
        }
        gap: 1rem;
    }
    
    .name {
        display: grid;
        gap: 0.5rem;
        
        a {
            display: contents;
            color: currentColor;

            & > * {
                text-decoration-line: underline;
                text-decoration-color: var(--clr-block-bg);
                text-decoration-thickness: 0.15em;
            }
        }

        .name__first {
            font-size: 5rem;
        }

        .name__last {
            font-size: 2.8rem;
        }
            
        .name__title {
            font-size: 2.5rem;
        }
    }

    nav {
        container-type: inline-size;
        container-name: nav;
    }

    ul {
        --nav-width: 360px;
        list-style: none;
        margin: 0;
        padding-block: 0.5rem 0;
        padding-inline: 0;
        min-height: 100%;
        display: grid;
        gap: 1rem;        

        @container header (width < 600px) {
            @container nav (width > 360px) {
                grid-template-columns: 1fr 1fr;
            }
        }
    
        a {
            display: grid;
            align-items: end;
            min-height: 100%;
            padding-block: 3cqi 1.5cqi;
            padding-inline: 2.5cqi;
            font-size: 8cqi;
            line-height: 1;
            text-decoration: none;
            color: currentColor;
            background-color: var(--clr-block-bg);
            border-radius: .2rem;
            transition: color 0.3s;

            &:hover,
            &:focus-visible {
                color: var(--clr-accent-400);
            }
        }
    }

</style>