---
import '../styles.css';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

const { frontmatter } = Astro.props;
let title = frontmatter?.title;
title = `${title ? `${title} | ` : ''}Nikolay Kolomyytsev | Portfolio & CV`;
---
<html lang="en">
	<head>
		<meta charset="utf-8" />
		<!-- <link rel="icon" type="image/svg+xml" href="/favicon.svg" /> -->
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{ title }</title>
		<meta name="description" content={frontmatter.description ?? "Nikolay Kolomyytsev's portfolio and CV"} />
	</head>
	<body class="base-layout">
		<Header />
		<slot />
		<Footer />
	</body>
</html>
