---
import { getCollection } from 'astro:content'
import PrimaryLayout from "../../layouts/PrimaryLayout.astro";
import PortfolioCard from '../../components/PortfolioCard.astro';
import ExtLinkSvg from '../../components/ExtLinkSvg.astro';
import './_portfolio.css'

const title = 'Portfolio. My projects.'

const projects = await getCollection('portfolio')
---

<PrimaryLayout title={title}>
	<main class="portfolio">
        <h2>{title}</h2>
        <ul class="portfolio__list" role="list">
            {projects.map(p => <PortfolioCard pCard={p} />)}
        </ul>
	</main>
</PrimaryLayout>