---
import { getCollection } from 'astro:content'
import PrimaryLayout from "../../layouts/PrimaryLayout.astro";
import ExtLinkSvg from '../../components/ExtLinkSvg.astro';
import './portfolio.css'

const title = 'Portfolio'
const projects = await getCollection('portfolio')
---

<PrimaryLayout>
	<main class="portfolio">
        <h2>{title}</h2>
        <ul class="portfolio__list" role="list">
            {projects.map(p => {
                return (
                    <li class="project">
                        <a href="#">
                            <ul class="project__tags">
                                {p.data.tags?.map(t => (
                                    <li>{t}</li>
                                ))}
                            </ul>
                            <p class="project__title">{p.data.title}</p>
                            <p>{p.data.description || "More info..."}</p>
                        </a>
                    </li>
                    )
            })}
        </ul>
	</main>
</PrimaryLayout>