.portfolio {
    padding: 1rem;
    background-color: var(--clr-block-bg);

    .portfolio__list {
        list-style: none;
        margin: 0;
        margin-block-start: 1rem;
        padding: 0;
        display: grid;
        gap: 1rem;
        grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));    
    }
        
    .project {
        aspect-ratio: 4 / 2;
        background-color: hsl(0 0% 100% / 65%);
        border-radius: 0.5rem;
        overflow: hidden;
        box-shadow: 0 0 1rem rgb(0 0 0 / 50%);
        
        a {
            background-color: hsl(0 40% 70% / 25%);

            min-height: 100%;
            display: grid;
            gap: .5rem;
            grid-template-rows: 1fr auto auto;
            padding: 1rem;
            color: var(--clr-block-bg);
            text-decoration: none;

            & > * {
                    margin: 0;
                }
            
            .project__title {
                font-size: 1.25rem;
                font-weight: 500;
                line-height: 1.2;
            }
        }

        .project__tags {
            list-style: none;
            margin: 0;
            padding: 0;
            display: flex;
            gap: .5rem;
            justify-content: flex-end;
            align-items: start;
            font-size: .75rem;

            li {
                background-color: hsl(0 0% 100% / 50%);
                padding: .15rem .4rem .12rem;
                border-radius: .25rem;
            }
        }
    }
}